{% load static %}
<!DOCTYPE html>
<html lang="en">   
<head>
         <meta charest="UTF-8">
         <title>LMS</title>
         <meta name="viewport" content="width=device-width,initial-scale=1">
         <link href="{% static 'lms/bootstrap5/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"> 
         <link href="{% static 'lms/bootstrap5/font/bootstrap-icons.css' %}" rel="stylesheet" type="text/css">  
         <link href="{% static 'lms/css/style.css' %}" rel="stylesheet" type="text/css">  
</head>
<body>
          <h1>{{ res }}</h1>
          <button class="btn btn-success">Bootstrap 模块安装成功！</button>  
        </body>
        </html>
        <script src="{% static 'lms/bootstrap5/js/bootstrap.js' %}"></script> 
        <script src="{% static 'lms/js/main.js' %}"></script>
